.form-avatar {
  float: left;
  height: 120px;
  width: 120px;
  margin-right: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #fff;
  overflow: hidden;

  img {
    height: 120px;
    display: block;
    margin: 0 auto;
  }
}

.content-block {
  font-weight: bold;
}

.dx-fieldset {
  width: 70%;
  margin: 0px;

}

.dx-field {
  width: 100%;
  margin-bottom: 5px;
  min-height: 0px;
}

.dx-field-value {
  width: 100%;
  font-weight: bold;

}

.dx-field-value-static, .dx-field-value:not(.dx-switch):not(.dx-checkbox):not(.dx-button) {
  width: 100%;
}

.none {
  width: 100%;
}
