<h2 class="content-block">영화예매</h2>
<div  class="content-block" fxLayout="row" fxLayoutGap="24px" style="margin: 20px">
  <dx-data-grid fxFlex="40"
    id="movieGrid"
    keyExpr="id"
    [dataSource]="movies"
    [columns]="movieColumns"
    [showBorders]="true"
    [focusedRowEnabled]="true"
    [(focusedRowKey)]="focusedRowKey"
    [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
    (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)"
  >
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="none"></dxo-sorting>
  </dx-data-grid>

  <dx-data-grid class="selected-data form" fxFlex="60" style="background-color: #fff; border: 1px solid #ddd"
                id="screeningGrid"
                keyExpr="id"
                [dataSource]="movies"
                [columns]="movieColumns"
                [showBorders]="true"
                [focusedRowEnabled]="true"
                [(focusedRowKey)]="focusedRowKey"
                [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
                (onFocusedRowChanging)="onFocusedRowChanging($event)"
                (onFocusedRowChanged)="onFocusedRowChanged($event)"
  >
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="none"></dxo-sorting>
  </dx-data-grid>
</div>


<dx-popup
  [width]="800"
  [height]="525"
  [showTitle]="true"
  [title]="'영화예매'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [visible]="false"
>
  <div>
    <div class="popup-property-details">
      <div class="large-text">영화예약</div>
    </div>
  </div>
</dx-popup>
