<h2 class="content-block">영화예매</h2>
<div  class="content-block" fxLayout="row" style="margin: 20px; height: 600px;">
  <dx-data-grid fxFlex="40"
    id="movieGrid"
    keyExpr="id"
    [dataSource]="movies"
    [showBorders]="true"
    [focusedRowEnabled]="true"
    [(focusedRowKey)]="focusedMovie"
    [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
    (onFocusedRowChanging)="onFocusedRowChanging($event)"
    (onFocusedRowChanged)="onFocusedRowChanged($event)"
  >
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="none"></dxo-sorting>
    <dxi-column
      dataField="rated"
      caption="연령"
      [width]="46"
      cellTemplate="cellTemplate"
    ></dxi-column>
    <dxi-column dataField="title" caption="제목" [width]="100"></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
      <img [width]="30" src="/assets/movie/rated/{{ data.value }}.svg" />
    </div>
  </dx-data-grid>

  <dx-data-grid class="selected-data form" fxFlex="60" style="background-color: #fff; border: 1px solid #ddd"
                id="screeningGrid"
                keyExpr="id"
                [dataSource]="screenings"
                [showBorders]="true"
                [focusedRowEnabled]="true"
                [(focusedRowKey)]="focusedScreening"
                [(autoNavigateToFocusedRow)]="autoNavigateToFocusedRow"
                (onFocusedRowChanging)="onFocusedRowChanging($event)"
                (onFocusedRowChanged)="onFocusedRowChanged($event)"
  >
    <dxo-load-panel [enabled]="true"></dxo-load-panel>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
    <dxo-sorting mode="none"></dxo-sorting>
    <dxi-column
      dataField="sequence"
      caption="회차"
      [width]="60"
      cellTemplate="cellTemplate"
    ></dxi-column>
    <dxi-column dataField="startTime" caption="시작시간" [width]="100"></dxi-column>
    <dxi-column dataField="endTime" caption="종료시간" [width]="100"></dxi-column>
    <dxi-column dataField="runningTimeStr" caption="상영시간" [width]="100"></dxi-column>
    <dxi-column dataField="movie.title" caption="제목"></dxi-column>

    <div *dxTemplate="let data of 'cellTemplate'">
      <div>{{data.value}}회차</div>
    </div>
  </dx-data-grid>
</div>


<dx-popup
  [width]="800"
  [height]="525"
  [showTitle]="true"
  [title]="'영화예매'"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [visible]="popupVisible"
>
  <div>
    <div class="popup-property-details">
      <div class="large-text">영화예약</div>
    </div>
  </div>
  <div class="buttons">
    <dx-button text="예매"
               type="default"
               [width]="120"
               (click)="doReservation()">
    </dx-button>
    <dx-button text="취소"
               type="danger"
               [width]="120"
               (click)="popupVisible = false">
    </dx-button>
  </div>
</dx-popup>
